<section class="absolute inset-0 bg-black/40">
  <div class="relative h-screen overflow-y-hidden">
    <!-- Background Sky -->
    <div class="absolute inset-0 w-full h-screen -z-50" 
    style="background-image: url('/assets/sky.jpg'); 
    background-position: bottom; background-size: cover;
    background-attachment: fixed;"></div>
    <!-- Mountain Layer 3 -->
    <div #mountain3 class="absolute inset-0 -z-40 "
    style="background-image: url('/assets/mountain-3.png');
     background-position: bottom; background-size: cover;"></div>
    <!-- Planets -->
    <div #planets class="absolute inset-0 -z-30 "
    style="background-image: url('/assets/planets.png');
     background-position: bottom; background-size: cover;"></div>
    <!-- Mountain Layer 2 -->
    <div #mountain2 class="absolute inset-0 -z-20 "
    style="background-image: url('/assets/mountain-2.png');
     background-position: bottom; background-size: cover;"></div>
    <!-- Mountain Layer 1 -->
    <div #mountain1 class="absolute inset-0 -z-10 "
    style="background-image: url('/assets/mountain-1.png');
     background-position: bottom; background-size: cover;"></div>
  </div>
</section>