@keyframes orbit {
  0% {
    transform: rotate(calc(var(--angle) * 1deg))
      translateY(calc(var(--radius) * 1px))
      rotate(calc(var(--angle) * -1deg));
  }
  100% {
    transform: rotate(calc(var(--angle) * 1deg + 360deg))
      translateY(calc(var(--radius) * 1px))
      rotate(calc((var(--angle) * -1deg) - 360deg));
  }
}

.animate-orbit {
  width: var(--icon-size);
  height: var(--icon-size);
  animation: orbit calc(var(--duration) * 1s) linear infinite;
  top: 50%;
  left: 50%;
  transform-origin: center center;
}
