<section 
  class="flex flex-wrap items-center justify-between gap-5 pb-3 text-sm
   text-neutral-400 c-space">
   <div
    class="bg-gradient-to-r from-transparent via-neutral-700 to-transparent mb-4
    h-[1px] w-full"></div>

    <div class="flex gap-2">
      <p>Terms & Conditions</p>
      <p>|</p>
      <p>Privacy Policy</p>
    </div>

    <div class="flex gap-5">
      <a *ngFor="let social of mySocials" 
        [href]="social.href">
         <img src="{{ social.icon }}" alt="{{ social.name}}" class="w-5 h-5"/>
      </a>
      <p>&copy; 2024 Arshad</p>
    </div>



</section> 