::ng-deep .word-morph-text {
  font-size: 5.75rem !important;
  font-weight: 500 !important;
  display: inline-block !important;
  line-height: 1.4;     
  text-align: left;
}
.line {
  opacity: 0;
  transform: translateX(-50px);
  animation: slideIn 0.8s ease-out forwards;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
