.orbiting-container {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.orbit {
  width: var(--icon-size);
  height: var(--icon-size);
  animation: orbit calc(var(--duration) * 1s) linear infinite;
  transform-origin: center center;
}

.orbit.reverse {
  animation-direction: reverse;
}

@keyframes orbit {
  0% {
    transform: rotate(calc(var(--angle) * 1deg))
               translateX(calc(var(--radius) * 1px))
               rotate(calc(var(--angle) * -1deg));
  }
  100% {
    transform: rotate(calc(var(--angle) * 1deg + 360deg))
               translateX(calc(var(--radius) * 1px))
               rotate(calc((var(--angle) * -1deg) - 360deg));
  }
}
